@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET CORE - Prometheus and Grafana</h1>
    <p class="display-6">Read complete tutorial - <a href="https://www.yogihosting.com/aspnet-core-prometheus-grafana/" target="_blank">AT Here</a></p>
</div>